In [1]:
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
# import seaborn as sns
# from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# from sklearn.tree import DecisionTreeClassifier
# from sklearn.svm import SVC

# from sklearn.ensemble import VotingClassifier
# from sklearn.linear_model import LogisticRegression
# from sklearn.naive_bayes import GaussianNB
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.model_selection import cross_val_score
# from sklearn.model_selection import GridSearchCV

from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.linear_model import Perceptron
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier
import xgboost as xgb

import matplotlib.pyplot as plt
%matplotlib inline

seed = 1142

In [3]:
df = pd.read_csv("data/data.csv")
df.shape

(120, 7)

In [4]:
df.head().T

                             0      1      2      3      4
 technology actor          1.0    1.0    1.0    1.0    1.0
 administrative actor      1.0    1.0    1.0    1.0    1.0
 economic actor            1.0    1.0    2.0    2.0    5.0
 technical actor           1.0    1.0    1.0    1.0    1.0
 political-social actor    1.0    1.0    1.0    1.0    1.0
AIS                      110.0  110.0  110.2  110.2  110.8
AIS-grade                  1.0    1.0    1.0    1.0    1.0

In [5]:
df.drop(["AIS"],axis=1, inplace = True)
df.head().T

                         0  1  2  3  4
 technology actor        1  1  1  1  1
 administrative actor    1  1  1  1  1
 economic actor          1  1  2  2  5
 technical actor         1  1  1  1  1
 political-social actor  1  1  1  1  1
AIS-grade                1  1  1  1  1

In [6]:
X = df.drop("AIS-grade", axis = 1)
y = df["AIS-grade"]

In [7]:
X.shape

(120, 5)

In [8]:
y.shape

(120,)

In [9]:
X.head()

,technology actor,administrative actor,economic actor,technical actor,political-social actor
0,1,1,1,1,1
1,1,1,1,1,1
2,1,1,2,1,1
3,1,1,2,1,1
4,1,1,5,1,1

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((90, 5), (90,), (30, 5), (30,))

____

In [11]:
# Linear Support Vector Machine(linear-SVM)
model=svm.SVC(kernel='linear',C=0.1,gamma=0.1)
model.fit(X_train,y_train)
prediction2=model.predict(X_test)
print('Accuracy for linear SVM is',accuracy_score(prediction2,y_test))

Accuracy for linear SVM is 0.8333333333333334

In [15]:
# kNN
model=KNeighborsClassifier(n_neighbors=8) 
model.fit(X_train,y_train)
prediction6=model.predict(X_test)
print('The accuracy of the KNN is',accuracy_score(prediction6,y_test))

The accuracy of the KNN is 0.9

In [13]:
# Gaussian Naive Bayes
model=GaussianNB()
model.fit(X_train,y_train)
prediction7=model.predict(X_test)
print('The accuracy of the NaiveBayes is',accuracy_score(prediction7,y_test))

The accuracy of the NaiveBayes is 0.7333333333333333

In [14]:
# Random Forest
model=RandomForestClassifier(n_estimators=100)
model.fit(X_train,y_train)
prediction8=model.predict(X_test)
print('The accuracy of the Random Forests is',accuracy_score(prediction8,y_test))

The accuracy of the Random Forests is 0.8